<h1>Sign Up</h1>

    <% @errors && @errors.each do |e| %>
        <li><%=e%></li>
    <%end%>

    
    <%= form_for @user, url: signup_path do |f| %>
    <%=f.label "Username"%>
    <%=f.text_field :username%>
    <%=f.label "Password"%>
    <%=f.password_field :password %>
    <%=f.label "Password Confirmation"%>
    <%=f.password_field :password_confirmation %>
    <%=f.submit "Sign Up"%>
<%end%>