<!DOCTYPE html>
<html>
 <body style="background-color:LightGray;">
</body>
</html>

<% @errors && @errors.each do |e| %>
  <li><%=e%></li>
<%end%>


<h1>Add A New Review!</h1>
<br>

<h7 style="color:DodgerBlue;"> <i> Complete all fields and rate each show on a scale from 1 - 5, with 5 being the very best! </i> </h7>

  <%if @show%>
    <h3><%=@show.name%></h3>
  <%end%>


  <%= form_for(@review, url: show_reviews_helper(@show)) do |f|%>
    <%=f.label "Rating:"%>
    <%=f.number_field(:rating)%> <br>
    <%=f.label "Location:"%>
    <%=f.text_field(:location)%> <br>
    <%=f.label "Comment:"%>
    <%=f.text_area(:comment)%> <br>
  <%if !@show%>
    <%=f.label "Show:"%>
    <%=f.collection_select(:show_id, @shows, :id, :name) %>


  
  <%end%>
  <%=f.submit("Submit")%>
<%end%>
<br>
<body>

<div style="text-align: center;"><iframe width="560" height="315" src="https://www.youtube.com/embed/0D3zz6byFT4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</body>
</html>