<% @errors && @errors.each do |e| %>
  <li><%=e%></li>
<%end%>


<h1>Add A New Review!</h1>

<br>
  <%if @show%>
    <h3><%=@show.name%></h3>
  <%end%>


  <%= form_for(@review, url: show_reviews_path(@show)) do |f|%>
    <%=f.label "Rating:"%>
    <%=f.number_field(:rating)%> <br>
    <%=f.label "Location:"%>
    <%=f.text_field(:location)%> <br>
    <%=f.label "Comment:"%>
    <%=f.text_area(:comment)%> <br>
  <%if !@show%>
    <%=f.label "Show:"%>
    <%=f.collection_select(:show_id, @shows, :id, :name) %>
  <%else%>
  <%=f.hidden_field :show_id%>
  
  <%end%>
  <%=f.submit("Submit")%>
<%end%>

