<!DOCTYPE html>
<html>
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
   <ul class="navbar-nav">
     <li class="nav-item active">
        <%=link_to "All Shows", shows_path, class: "nav-link"  %>
    </li>
      <li class="nav-item active">
        <%=link_to "New Show", new_show_path, class: "nav-link" %>
    </li>
      <li class="nav-item active">
        <%=link_to "New Review", new_review_path, class: "nav-link" %>
    </li>
      <li class="nav-item active"> 
        <%=link_to "All Reviews", reviews_path, class: "nav-link" %>
    </li>
      <li class="nav-item active">
        <%=link_to "My Shows", user_shows_path(current_user), class: "nav-link" %>
    </li>
      <li class="nav-item active">
          <%= button_to "Log Out", logout_path, method: :post %>
    </li>
    </ul>
    </nav>
    </head>
</nav>

